<div id="bottominfo">

	<div id="info">
    
    	<a href="/schweiz" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Schweiz&nbsp;picture-book</a>
        <a href="/soul-to-sole" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Soul&nbsp;to&nbsp;Sole</a>
        <a href="/logos-and-marks" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Logos&nbsp;&&nbsp;marks</a>
        <a href="/the-great-outdoors" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">The&nbsp;Great&nbsp;Outdoors</a>
        <a href="/secret-7" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Secret&nbsp;7"</a>
        <a href="/lhc" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Large&nbsp;Hadron&nbsp;Collider&nbsp;guide&nbsp;book</a>
        <a href="/branding-uow" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Branding&nbsp;the&nbsp;University&nbsp;of&nbsp;Worcester&nbsp;design&nbsp;course</a>
        <a href="/degree-show-photography" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">University&nbsp;of&nbsp;Worcester&nbsp;degree&nbsp;show&nbsp;photography</a>
        <a href="/blue-nun" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Blue&nbsp;Nun&nbsp;wine</a>
        <a href="/structured-composition" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Structured&nbsp;composition</a>
        <a href="/of-mice-and-men" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Of&nbsp;Mice&nbsp;and&nbsp;Men&nbsp;book&nbsp;jacket</a>
        <a href="/skatography" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Skatography</a>
        <a href="/Constellations" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Constellations</a>
        <a href="/pots-of-paint" style="color: #fff; padding-right: 40px; padding-left: 40px; text-decoration:none;">Pots&nbsp;of&nbsp;Paint&nbsp;sustainable&nbsp;packaging</a>
    
    	<p><br /><br /><br />© 2015 matthew blick</p>
        
    </div>
    
</div>

</div>

</body>
</html>