<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Matthew Blick</title>

<link rel="shortcut icon" href="favicon.ico" />

<link href="css/main.css" rel="stylesheet" type="text/css" />

<script src="https://code.jquery.com/jquery-latest.js"></script>

<script>
$(document).ready(function(){
  $("#simplicityisntsimple").ready(function(){
    $("#simplicityisntsimple").fadeIn(2000);
		$("#simplicityisntsimple").fadeOut(2000);
  });
});
</script>

<script>
$(document).ready(function(){
  $("#welcome").ready(function(){
    $("#welcome").delay(4500).fadeIn(1500);
  });
});
</script>
    
<script>
$(document).ready(function(){
  $("#downarrow").ready(function(){
    $("#downarrow").delay(5000).fadeIn(1500);
  });
});
</script>
    
<script>
$(document).ready(function(){
  $("#pagetitle").ready(function(){
    $("#pagetitle").fadeIn(1500);
  });
});
</script>

<script>
$(document).ready(function(){
  $("#pagetitledownarrow").ready(function(){
    $("#pagetitledownarrow").delay(500).fadeIn(1500);
  });
});
</script>

<script type="text/javascript">
(function($) {          
    $(document).ready(function(){                    
        $(window).scroll(function(){                          
            if ($(this).scrollTop() > screen.availHeight) {
                $('#rotateacw').fadeIn(250);
            } else {
                $('#rotateacw').fadeOut(250);
            }
        });
    });
})(jQuery);
</script>

<script type="text/javascript">
(function($) {          
    $(document).ready(function(){                    
        $(window).scroll(function(){                          
            if ($(this).scrollTop() > screen.availHeight) {
                $('#rotatecw').fadeIn(250);
            } else {
                $('#rotatecw').fadeOut(250);
            }
        });
    });
})(jQuery);
</script>

<script type="text/javascript">
(function($) {          
    $(document).ready(function(){                    
        $(window).scroll(function(){                          
            if ($(this).scrollTop() > screen.availHeight) {
                $('#menu').fadeIn(250);
            } else {
                $('#menu').fadeOut(250);
            }
        });
    });
})(jQuery);
</script>

<script>
$(document).ready(function() {
	$('.fade').hover(
		function(){
			$(this).find('.caption1').fadeIn(250);
		},
		function(){
			$(this).find('.caption1').fadeOut(250);
		}
	);
});
</script>

<script>
$(document).ready(function() {
	$('.fade').hover(
		function(){
			$(this).find('.coverhover1').fadeIn(250);
		},
		function(){
			$(this).find('.coverhover1').fadeOut(250);
		}
	);
});
</script>

<script>
$(document).ready(function() {
	$('.fade').hover(
		function(){
			$(this).find('.caption1').fadeIn(250);
		},
		function(){
			$(this).find('.caption1').fadeOut(250);
		}
	);
});
</script>

<script>
$(document).ready(function() {
	$('.fade').hover(
		function(){
			$(this).find('.coverhover1').fadeIn(250);
		},
		function(){
			$(this).find('.coverhover1').fadeOut(250);
		}
	);
});
</script>

</head>
    
<body>
    
<div id="container">

  <div id="menu">
    <a href="/selected-works" class="offwhite" style="text-decoration:none;">Selected works</a>
    <a href="/profile" class="offwhite" style="padding-left: 40px; text-decoration:none;">Profile</a>
    <a href="/graphic-library" class="offwhite" style="padding-left: 40px; text-decoration:none;">Graphic library</a>
    <a href="/contact" class="offwhite" style="padding-left: 40px; text-decoration:none;">Contact</a>
  </div>